/DX/.vs/DX/v15/ipch/AutoPCH/455eacaf1395a6a7/*.ipch
/DX/.vs/DX/v15/*.db
/DX/.vs/DX/v15/ipch/AutoPCH/47e5880ad0659a88/*.ipch
*.ipch
*.tlog
*.exe
*.idb
*.pdb
*.obj
*.ilk
*.suo
/DX/DX/bin/Win32/Debug/Intermediate/*.log
*.log
*.iobj
*.ipdb
/DX/DX/bin/x64/Debug/Intermediate/*.pch
/DX/.vs/DX/v15/*.opendb
/DX/DX/bin/x64/Release/Intermediate/*.pch
*.db-shm
*.db-wal
*.db
*.tmp
*.pch
*.lib
*.sbr
*.bsc
/DX/EngineTest/res/models/sponza
/DX/EngineTest/imgui.ini
/DX/DX/res/engine/shaders/bin/*.cso
*.cso
/DX/DX/res/shaders/bin/debug/*.spv
/DX/DX/res/shaders/bin/release/*.spv
